<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <!--投稿エラー表示呼び出し-->
      <%= render 'layouts/error_messages', model: @book %>

      <h1>Editing Book</h1>
      <%= form_with model: @book do |f| %>
        <div class="user-name">Title</div>
          <%= f.text_field :title,class:"form-control" %>
        <div class="form-body">Opinion</div>
          <%= f.text_area :body,class:"form-control" %><br>
        <div class="upload">
          <%= f.submit " Update Book",class:"btn btn-success" %>
        </div>

      <% end %>
      <!--showリンク-->
      <%= link_to "Show", book_path(@book) %>
      <%= "|" %>
      <!--indexリンク-->
      <%= link_to "Back", books_path %>
	  </div>
  </div>
</div>
